<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>
<%if(user){%>
<p>你好，<a href="/u/<%= user.user_name %>"><%= user.user_name %></a>. Welcome!</p>
<p><a href="/u/<%= user.user_name %>">个人中心</a></p>
<p>
<form action="/logout" method="post">
    <button type="submit">退出</button>
</form>
</p>
<%} else {%>
<p>Welcome!</p>
<p><a href="/login">登录</a></p>
<p><a href="/register">注册</a></p>
<%}%>
</body>
</html>
